<template>
  <div class="plelement" @click="selectedElement()">
    <img :src="foto" class="immagine"/>
    <div class="dati">
      <div class="title">{{nome}}</div>
      <div class="subtitle">{{genere}}</div>
    </div>
    <div style="clear: both"></div>
    <hr/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Elementopl',
  emits: ['selected'],
  props: {
    foto: {
      type: String,
      required: true,
    },
    nome: {
      type: String,
      required: true,
    },
    genere: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
  },
  setup() {
    return {

    }
  },
  methods: {
    selectedElement() {
      this.$emit('selected',this.$props.id);
    }
  }
})
</script>

<style  lang="scss" scoped>
.plelement {
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  font-size: 16px;
  font-weight: bold;
}
.subtitle {
  font-size: 12px;
  font-style: italic;
}
.immagine {
  float: left;
  height: 56px;
}
.dati {
  float:left;
  margin-left: 5px;
  margin-top: 5px;
}
</style>
