<template>
  <div>
    <q-img :src="playlist.foto" height="160px" fit="scale-down"></q-img>
    <q-separator></q-separator>
    <div class="titolo">{{playlist.nome}}</div>
    <div class="genere">{{playlist.genere}}</div>
    <div class="testata">Specifiche</div>
    <div class="specifiche" v-for="el in playlist.specifiche" :key="el.id">
      <div class="nomespecifica">{{el.nome}}</div>
      <div class="valorespecifica">{{el.valore}}</div>
      <div style="clear: both"></div>
    </div>
    <div class="testata">Descrizione</div>
    <div class="descrizione">{{playlist.descrizione}}</div>
    <q-separator></q-separator>
    <div class="specifiche">
      <div class="mipiace">
        <q-icon name="thumb_up" size="md"></q-icon>
        {{playlist.mipiace}}
      </div>
      <div class="nonmipiace">
        {{playlist.nonmipiace}}
        <q-icon name="thumb_down" size="md"></q-icon>
      </div>
      <div style="clear: both"></div>
    </div>
    <div class="testata">Filmati</div>
    <div class="specifiche" v-for="el in playlist.filmati" :key="el.id">
      <div class="filmato" @click="apriFilmati(el.id)">
        <q-icon name="movie" size="md"></q-icon>
        {{el.titolo}}
      </div>
    </div>
    <q-dialog v-model="dialog" :maximized="maximizedToggle" transition-show="slide-up" transition-hide="slide-down">
      <q-card class="bg-black text-white">
        <q-bar>
          <q-space />
          <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <div style="text-align:center;">
            <video :src="linkFilmato" autoplay width="320" controls></video>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'filmati',
  components: {
  },
  setup() {
    return {
      playlist: ref({
        id: 0,
        nome: '',
        genere: '',
        foto: '',
        descrizione: '',
        mipiace: 0,
        nonmipiace: 0,
        specifiche: [],
        filmati: [],
      }),
      idFilmato: ref(''),
      linkFilmato: ref(''),
      dialog: ref(false),
      maximizedToggle: ref(true)
    };
  },
  mounted() {
    this.idFilmato = this.$route.params.id as string;
    this.$axios.get('http://192.168.1.46/twitch/services/detail_playlist.php?idp=' + this.idFilmato)
      .then((res) => {
        // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
        this.playlist = res.data;
      })
      .catch(() => {
        // Segnalare l'errore
      })
  },
  methods: {
    apriFilmati(id : string) {
      this.linkFilmato = 'http://192.168.1.46/twitch/services/video.php?idf=' + id;
      this.dialog = true;
    }
  }
});
</script>

<style  lang="scss" scoped>
.titolo {
  text-align:center;
  font-size: 20px;
  font-weight: bold;
  margin-top:5px;
}

.genere {
  text-align:center;
  font-size:12px;
  margin-top:5px;
  font-style: italic;
}

.descrizione {
  text-align:justify;
  font-size:14px;
  margin-left:5px;
  margin-right:5px;
}

.nomespecifica {
  float:left;
  background-color:indigo;
  color:white;
  width: 40%;
  height: 30px;
  padding-top: 5px;
  padding-left:5px;
}

.valorespecifica {
  float: left;
  color: indigo;
  width: 60%;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  border-style: solid;
  border-color: indigo;
  border-width: 1px;
}

.specifiche {
  width:100%;
}

.testata {
  font-size:14px;
  margin-top:5px;
  margin-left:5px;
  font-weight: bold;
}

.filmato {
  width:100%;
  border-style: solid;
  border-color: indigo;
  border-width: 1px;
  height: 45px;
  padding-top: 5px;
  padding-left: 5px;
  color: indigo;
}

.mipiace {
  float:left;
  width:50%;
  margin-left:5px;
  color:indigo;
}

.nonmipiace {
  float:left;
  text-align: right;
  width:47%;
  color:indigo;
}
</style>
