<template>
  <div>
    <div class="searchbox">
      <q-input v-model="searchText" label="Cerca" outlined rounded @update:model-value="search" clearable debounce="300">
        <template v-slot:prepend>
          <q-icon name="search" />
        </template>
      </q-input>
    </div>
    <hr/>
    <Elementopl v-for="el in plOutput" :key="el.id" v-bind="el" @selected="apriFilmati"></Elementopl>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import Elementopl from 'components/elementopl.vue';

export interface PlaylistElement {
  id: number;
  nome: string;
  genere: string;
  foto: string;
}

export default defineComponent({
  name: 'playlist',
  components: {
    Elementopl
  },
  setup() {
    return {
      playlists: ref<PlaylistElement[]>([]),
      plOutput: ref<PlaylistElement[]>([]),
      searchText: ref(''),
    };
  },
  mounted() {
    this.playlists = [];
    this.plOutput = [];
    this.$axios.get('http://192.168.1.46/twitch/services/playlist.php')
      .then(res => {
        var lista: PlaylistElement[] = res.data as PlaylistElement[];
        lista.forEach((element: PlaylistElement) => {
          let el: PlaylistElement = {
            id: element.id,
            nome: element.nome,
            genere: element.genere,
            foto: element.foto,
          };
          this.playlists.push(el);
          this.plOutput.push(el);
        });
      })
      .catch(() => {
        // Segnalare l'errore
      })
  },
  methods: {
    apriFilmati(id: string) {
      // eslint-disable-next-line @typescript-eslint/no-floating-promises
      this.$router.push('/filmati/' + id);
    },
    search(testo: string) {
      this.plOutput = [];
      var txtSearch = '';
      if(testo!==null) {
        txtSearch = testo.toLowerCase();
      }
      this.playlists.forEach((element: PlaylistElement) => {
        if(element.nome.toLowerCase().includes(txtSearch) || element.genere.toLowerCase().includes(txtSearch)) {
          this.plOutput.push(element);
        }
      })
    },
  }
});
</script>

<style  lang="scss" scoped>
.searchbox {
  margin: 5px;
}
</style>
